footer {
  text-align: center;
}

.center {
  text-align: center;
}

.box {
    border-radius: 0.125rem;
    padding: 0.875rem;
    margin-bottom: 0.5rem;
    min-height: 0.875rem;
    color: #f8f8f8;
}
